.grid-container{

display: grid;
grid-template-columns:1fr 1fr;
grid-template-rows:80px 170px 100px;
gap:30px;

}

.first {
grid-column: span 2;
background-color: rgb(21, 193, 199);
}


.card{

    background-color: rgb(255, 2, 2);

}




