ul
{
 
    list-style: inside;
    background-color: blue;
    gap: 80px;

margin: right 50px; ; 
}

img {
border-radius: 50px; 
margin-left:60%;
}



h1,h2{

    background-color: rgba(10, 13, 224, 0.644);
     display: inline-block;
margin: 10px;
padding: 20px;
    
}


footer{

    background-color:black;
font: size 45px;

text-align: center;
color: aliceblue;

}


footer p {
position: fixed;
margin: 20px;
padding: 15px;
background-color: rgba(7, 44, 255, 0.959);
color:white ;
bottom: 0%;
display: inline-block;
width: 20px;
}





