*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body{
    margin: 0;
    padding: 0;
    
    
}
#navbar{
/* background-color: blue; */
 background-color: linear-gradient(90deg, #1e3a8a, #3b82f6);/* تدرج لوني جميل بين الأزرق الغامق والفاتح */
display: flex;
justify-content: space-between;
align-items: center;
height: 100px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* ظل خفيف أسفل الشريط لإضافة عمق */
}
ul{

  list-style: none

  display:flex;
  gap:20px;
   margin-left: 40%;
  margin-right: 40%;

}
a{color: white;
    text-decoration:none;
    font-size: 9px;
    transition: color 0.3s ease;
}
#navlogo {
     border-radius: 50px;  
  height: 80px;
  object-fit: cover;
    margin-left: 20%;
    transition: transform 0.3s ease; 
}


#navbtn{
    background-color: white;
  color: #1e3a8a;
  border: none;
  padding: 10px 25px; 
  border-radius: 25px; 
  font-size: 16px;
  font-weight: 600;   
 margin-right: 5%; 
}




#footer{
   background: linear-gradient(180deg, #2b2d42, #1a1c2c);
 width: 100%; 
display: flex;
justify-content: space-between;
align-items: center;
height: 100px;
  

}
#logo {
  margin-top: 10px;
  width: 90px;
  height: 30px;
  border-radius: 25px;
  object-fit: cover;/* قص الصورة لتناسب الإطار */
padding: 10px;}
 






.ul{
    list-style: none;/* إزالة النقاط من القائمة */

  display: flex;  /* عرض العناصر بجانب بعض */
  justify-content: flex-end;    

  gap: 80px;/* مسافة بين كل عنصر وآخر */
margin-left: 20%;
padding-bottom: 20px;
/* font-size: 400px; */


}
/* .liiii{
font-size: xx-large;
} */

#p111{
    color: #e5e7eb;
   font-size: 25px;
   text-align: end;
   font-style:italic;
margin-bottom: 0%;
padding-left: 20px;
font-size: 10px;

}
.mainGrid{
 display: grid;
 grid-template-columns: auto auto auto; 
 margin: 30px;

}
.gridItem{
  background-color: #33d80a;
border: 3px solid red; 
/* سوليد عشان يطلع غامق  */
margin: 20 px;
text-align: center;
padding: 40px;
border-radius: 10%;

}
.gridItem button{
  font-size: 20px;
  background-color: #1a1c2c;
  color: aliceblue;
  padding: 10px;
  margin-top: 7px;
  border-radius: 20px;
}

.gridItem button:hover{
  background-color: azure;
  color: black;

}


.mainGrid{
  border-radius: 30 px;
}
.imgGrade:hover{
  width: 300px;

}
.imgGrade{
  border-radius: 25px;
 
}
/* responsev
mobil ---600
labtop 1024
  TABLET 900*/


@media (max-width:600px) 
  body{
    background-color:rgb(43, 255, 0);
  }

.mainGrid{
  display: grid;
  grid-template-columns: auto auto;
}
.gridItem{
  border: 3px solid black;
  margin: 10px;
  text-align: center;
  padding:10px;
  border-radius: 10%;
}
#main{
  margin: 0px;
  padding: 0px;
  
}
.imgGrade{
  width: 100px;
  margin-right: 10px;

}
.gridItem button{
  font-size: 14px;
  background-color: #1a1c2c;
  color: aliceblue;
  padding: 10px;
  border-radius: 10%;

}
.navbar{
  background-color: aqua;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 150px;

}
