body{

 background-color: rgba(0, 0, 0, 0.863);

}

.container{
    margin-top: 5px;
   
    
}

.navbar{
display: flex;

color: rgba(240, 248, 255, 0.808);
align-items: center;

}

.navbar ul{
display: flex;
gap: 40px;
margin-left: 700px;
justify-content: right;
align-content: 
}
.navbtn{
    color: beige;
margin: 20px;
    font-weight: 500;
background-color: chocolate;
font-size: 20px;
}
.footer{
width: 100%;
display: flex;
justify-content: center;
align-items: center;
margin-top: 78%;
 background-color: peru;
 padding: 10px;
}
.a{
display: flex;
justify-content: center;
margin: 30px;
gap: 30px;
}

.footer p{

font-size: medium;

}





