
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    gap: 15px;
  }

  .navbar ul {
    flex-direction: column;
    gap: 10px;
  }

  .main p {
    font-size: 22px;
  }
}



*{
    margin: 0%;
padding: 0%;
box-sizing: border-box;

}
    .navbar ul li {
    flex-direction:column;
padding-right: 10px;

    }
    .navbar li{
margin-right: 4%;
display: flex;
justify-content: center;


}
.container{
    width: 90%;
    margin: auto;
    text-align: center;
}
.nav1{
font-size:xx-large;
    font-size: 1.5rem;
}



body.dark-mode{

background-color: #000000c0;
}

   

body{
background-color:#ffffff;

}


.navbar{

display: flex;
color: #ffffff;
align-items: center;
font-size: medium;
padding: 15px 30px ;
justify-content: space-between;

}


.navbar h1{
font-style: oblique;
    color: #000000e7;

}


.navbar ul{
gap:30px;
align-items: center;
    display: flex;
    margin-left: 50%;
    list-style: none;
}
.navbar ul li  { 
list-style: none;
color: #050404;
white-space: nowrap;
display: inline-block;

}

.wh{
    text-decoration: none;
    color: #050405;
}

.navbtn{

margin: 40px;
font-weight: 500;
font-size: 20px;
}

.navbtn a{
    text-decoration: none;
    color: #070507;
    background: none;
}

.main{
    color: #050404;
    display: grid;
    text-align: center;
    margin-top: 5%;
}


 .main img{
 margin: 0 auto;
    display: flex;
  
width: 45%;
border-radius: 30px;

}

h5{
font-size: larger;
color: #ffffff;

}

.img2{

    display: flex;
padding :5%;
    width: 60%;
    gap: 50px;
flex-direction: column;
text-align: center;
margin-left: 20%;
height: 20%;
}

.img-nav{
padding-left: 30%;
width: 20%;
justify-content: center;
}

.main p{

font-size:xx-large;
    color: #000000;
margin-bottom: 10px;
}

.footer{
    font-size:large;
width: 80%;
margin-top: 30%;
 color: #000000;
 padding:10%;
text-align: center;
margin-left: 10%;
}

.B{
    color: #050303;
    text-align: center;
font-size: small;

}

.address{
    color: #f3f2f3f6;
    background-color: #eb0f0f;
text-align: center;
}


.new{

background-color:  rgb(11, 43, 43);
    color: #bdc3c7;
}
.byd{
    font-size:x-large;
margin-left: 200px;
display: grid;
background-color:  rgb(11, 43, 43);
    text-align: center;
}

.toyota{
    font-size: x-large;
text-align: center;
background-color:  rgb(11, 43, 43);
display: grid;
}


h5{
    text-align: center;
    font-size: x-large;
    background-color: #ffffff;
    color: rgb(107, 14, 194);
}

.cars-grid{
    display: grid;
    gap: 20px;
    padding: 20px;
}


.car-card img{

    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh; 
}

.form {
    background-color: #2c3e50; 
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    width: 100%;
    max-width: 400px; 
    text-align: center;
}

form h2 {
    color: #ecf0f1; 
    margin-bottom: 30px;
}



.btn {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 5px;
    background-color: #3498db; 
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #2980b9
}

.form-switch {
    margin-top: 20px;
    color: #bdc3c7;
}

.form-switch a {
    color: #3498db;
    text-decoration: none;
}

.form-switch a:hover {
    text-decoration: underline;
}

.new{
   display:grid;
    width: 100%;
    text-align: center;
    padding-left: 30%;
}

.new h3{
    padding-right: 60%;
}
.new p{

padding-right: 50%;

}
.toyota{
   padding-left: 40%;
    display: grid;
    color: #ecf0f1;
    width: 100%;
}

.toyota h3{

    padding-right: 60%;
}

.toyota p{

padding-right: 60%;

}
.container1 img {

width: 280px;
height: 280px;
object-fit:cover;
}




