



    

@media (max-width:768px) {
    .navbar{

display:inline-block;
flex-direction: column;
    }
    .navbar ul {
    flex-direction:row;
    padding-right: 700px;
       
    }
    

}

body{
background-color: rgb(11, 43, 43);
}






.navbar{

display: flex;
color: rgba(240, 248, 255, 0.808);
align-items: center;
font-size: medium;
padding: 10px;

}


.navbar h1{

    color: #e8e1e9;
   margin: 5px;
}


.navbar ul{
gap: 40px;
    display: flex;
    margin-left: 53%;
}
.navbar ul li  { 
list-style: none;
color: #ffffff;


}

.wh{
    text-decoration: none;
    color: #e8e1e9;
}

.navbtn{

margin: 20px;
font-weight: 500;
font-size: 20px;
}

.navbtn a{
    text-decoration: none;
    color: #ffffff;
    background: none;
}

.main{
    display: grid;
    text-align: center;
    margin-top: 5%;
}



 .main img{
    display: flex;
    margin: 0 auto;
   align-items: center;
width: 45%;
border-radius: 30px;

}

h5{
font-size: larger;
color: #ffffff;

}

.img2{
    display: flex;
padding :5%;
    width: 60%;
    gap: 20px;
}


.main p{

font-size:xx-large;
    color: #d9d9d9;

}

.footer{
    font-size:large;
width: 80%;
margin-top: 50%;
 color: #d9d9d9;
 padding:10%;
text-align: center;
}

.B{
    color: #d9d9d9;
    text-align: center;
font-size: small;

}

.address{
    color: #e8e1e99a;
}

.new{
    text-align: center;
    font-size: larger;
background-color:  rgb(11, 43, 43);

    color: #ffffff;
}

.toyota{
text-align: center;
color: #ffffff;

}


h5{
    text-align: center;
    font-size: x-large;
    background-color: #ffffff;
    color: rgb(107, 14, 194);
}