body{

 background-color: rgba(0, 0, 0, 0.863);

}

.container{
    height: 100%;
    width: 100%;
    margin-top: 5px;
    display: flex;
    
}

h1{
margin-top: 5px;
margin-right:5%;
color: aliceblue;

}

.list{
display: flex;
color: aliceblue;
gap: 30px;

}

.dropmenu{

    display:none;
}
.dropd:hover .dropmenu{

display: block;

}

.Login{
  color:#6001f8; 
  font-weight: bold;
    font-size: larger;
}

.middle{
margin-bottom: 50%;
height: 50%;
}



.footer{
    
    color: rgb(223, 223, 223);
}
.footer ul{

display:flex;
gap: 25px;
}
 .footer ul a{
    color: rgb(204, 192, 24);
    font-weight:bold ;
    font-size: larger;
 }
