



    

@media (max-width:768px) {
    .navbar{

display:inline-block;
flex-direction: column;
    }
    .navbar ul {
    flex-direction:row;
    padding-right: 700px;
       
    }
    

}

body{
background-color: rgb(11, 43, 43);
}



.navbar{
   display: flex;
padding: 10px;
color: rgba(240, 248, 255, 0.808);
align-items: center;
font-size: medium;
}



.navbar h1{

    color: #e8e1e9;
   margin: 5px;
}


.navbar ul {
display: flex;
gap: 40px;
margin-left: 700px;
justify-content: right;

}
.navbtn{
    color: beige;
margin: 20px;
    font-weight: 500;
background-color: chocolate;
font-size: 20px;
}



.main{
    display: grid;
    text-align: center;
    margin-top: 5%;
}



 .main img{
    display: block;
    margin: 0 auto;
   align-items: center;
width: 45%;
border-radius: 30px;

}

.img2{
    display: flex;
padding :5%;
    width: 60%;
    gap: 20px;
}


.main p{

font-size:xx-large;
    color: #d9d9d9;

}






.footer{
    display: flex;
width: 50%;
align-items: center;
margin-top: 78%;
 color: #d9d9d9;
 padding: 20px;
text-align: center;
}


.footer p{

justify-content: center;
margin: 30px;
font-size: medium;

}

.fix{

    color: rgb(241, 5, 5);
}



