h1,h2{

    background-color: aqua !important;

}



*{

   font-weight: 600px; 
}
.ramez{

font-size: larger;

}

p strong {
    color: blue ; font-size: larger;
}


.none .second .third p {
    c
} !
.none .second  p {
color: color-mix(in hsl longer hue, color percentage, color percentage)(187, 59, 59);
}


.food 
{

    background-color:  chocolate;
}

.drinks 
{


    background-color: rgb(102, 241, 9);
}




